$desktop-container-width: 1200px;
$tablet-container-width: 967px;
$mobile-container-width: 570px;

@mixin breakpoint($point) {
    @if $point=="tablet" {
      @media only screen and (max-width: $tablet-container-width) {
        @content;
      }
    } @else if $point=="mobile" {
      @media only screen and (max-width: $mobile-container-width) {
        @content;
      }
    }
  }

/* Per utilizzare il mixin ricordatevi di prima effettuare il:
@use './mediaquerry' as *;

e poi dentro la classe che dovete fare responsive

@include breakpoint("tablet" o "mobile") {
      ...QUI IL CONTENUTO RESPONSIVE....
    }

*/