@font-face {
    font-family: 'Kanit Bold';
    src: url(../fonts/kanit/Kanit-Bold.ttf);
}
@font-face {
    font-family: 'Kanit Regular';
    src: url(../fonts/kanit/Kanit-Regular.ttf);
}
@font-face {
    font-family: 'Kanit SemiBold';
    src: url(../fonts/kanit/Kanit-SemiBold.ttf);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}